.code_block {
  background-color: #ece9e9;
  padding: 10px;
  font-family: monospace;
}

.Bold {
  font-weight: bold;
}

.Red {
  color: red
}

.Underline {
  text-decoration: underline;
}

.main_container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.text_title{
  font-size: 2rem;
  font-weight: 600;
  color:#228cfd;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  min-width: 150px;
  background-color: #3395ff;
  color: #fff; 
  padding: 15px 30px; 
  border: none;
  border-radius: 5px;
  font-size: 18px; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #228cfd;
}

.texteditor_container {
  border: 2px solid #82befe;
  border-radius: 5px;
  padding: 10px;
  margin: 5vw;
  flex: 2;
  height: 300px;
}
